---
import { getCollection } from 'astro:content';
import Proyecto from '../components/Proyecto.astro';
import Layout from '../layouts/Layout.astro';
const projectos =await getCollection("projects");
---
<Layout>
    <div slot="article" class=" w-full flex justify-center dark:bg-violet-200 dark: text-gray-700 mt-5 mb-5">
		<div class=" w-full md:max-w-5xl flex-col">
				{ projectos.map((project)=>(
				<Proyecto
					title={project.data.title}
					link={project.data.link}
					description={project.data.description}
					date={project.data.date}
					images={project.data.images}
					detail={project.body}
					/>
				))
				}
		</div>
	</div>
</Layout>