---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Frase from '../components/Frase.astro'

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cmh</title>
</head>
<body>
    <div id="global" class="min-h-screen">
        <Header/>
        <Frase/>
        <slot name="article"/>
        <Footer/>
    </div>
</body>
<script is:inline>

//Codigo para el juego del memorama
let barpos=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19];
let cartas=["/c.jpg", "/cs.png","/java.jpg","/js.png","/perl.png","/python.png","/R.png", "/ruby.png","/go.png","/swift.png","/c.jpg", "/cs.png","/java.jpg","/js.png","/perl.png","/python.png","/R.png", "/ruby.png","/go.png","/swift.png"];
let i=barpos.length;
let  l=0, temp=0, j=0, clic=0, primerclic=0, segundoclic=0, aciertos=0;
let  img1="",img2="";


const barajear=()=>
{barpos=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19];
i=barpos.length;
  while(--i>0)
    { j=Math.floor(Math.random()* (i+1));
      temp=barpos[j];
      barpos[j]=barpos[i]
      barpos[i]=temp
    }
}
barajear()

const felicidades=()=>
      {  
        const nuevoMemorama=()=>
        { var output='';
        barajear();
        output='<div> <img id="img0" src="/pregunta.jpeg" width= "150px" height="130px" onclick="voltearCarta(0)"/></div><div> <img id="img1" src="/pregunta.jpeg" width= "150px" height="130px" onclick="voltearCarta(1)"/> </div><div> <img id="img2" src="/pregunta.jpeg" width= "150px" height="130px" onclick="voltearCarta(2)"/> </div><div> <img id="img3" src="/pregunta.jpeg" width= "150px" height="130px" onclick="voltearCarta(3)"/> </div><div> <img id="img4" src="/pregunta.jpeg" width= "150px" height="130px" onclick="voltearCarta(4)"/> </div><div> <img id="img5" src="/pregunta.jpeg" width= "150px" height="130px" onclick="voltearCarta(5)"/> </div><div> <img id="img6" src="/pregunta.jpeg" width= "150px" height="130px" onclick="voltearCarta(6)"/> </div><div> <img id="img7" src="/pregunta.jpeg" width= "150px" height="130px" onclick="voltearCarta(7)"/> </div><div> <img id="img8" src="/pregunta.jpeg" width= "150px" height="130px" onclick="voltearCarta(8)"/> </div><div> <img id="img9" src="/pregunta.jpeg" width= "150px" height="130px" onclick="voltearCarta(9)"/> </div><div> <img id="img10" src="/pregunta.jpeg" width= "150px" height="130px" onclick="voltearCarta(10)"/> </div><div> <img id="img11" src="/pregunta.jpeg" width= "150px" height="130px" onclick="voltearCarta(11)"/> </div><div> <img id="img12" src="/pregunta.jpeg" width= "150px" height="130px" onclick="voltearCarta(12)"/> </div><div> <img id="img13" src="/pregunta.jpeg" width= "150px" height="130px" onclick="voltearCarta(13)"/> </div><div> <img id="img14" src="/pregunta.jpeg" width= "150px" height="130px" onclick="voltearCarta(14)"/> </div><div> <img id="img15" src="/pregunta.jpeg" width= "150px" height="130px" onclick="voltearCarta(15)"/> </div><div> <img id="img16" src="/pregunta.jpeg" width= "150px" height="130px" onclick="voltearCarta(16)"/> </div><div> <img id="img17" src="/pregunta.jpeg" width= "150px" height="130px" onclick="voltearCarta(17)"/> </div><div> <img id="img18" src="/pregunta.jpeg" width= "150px" height="130px" onclick="voltearCarta(18)"/> </div><div> <img id="img19" src="/pregunta.jpeg" width= "150px" height="130px" onclick="voltearCarta(19)"/> </div>'
        document.getElementById('table_memoria').innerHTML=output;
          
        }
        var siono=confirm("Desea continuar ");
      if (siono===true)
      {
        aciertos=0;
        barajear();
        nuevoMemorama();
      }
      else alert("GAME OVER");
      }
const detenerTiempo=()=>
{  
  document.getElementById('img'+primerclic).src="/pregunta.jpeg";
  document.getElementById('img'+segundoclic).src="/pregunta.jpeg";

}
const adivinoCartas=()=>
{
  document.getElementById('img'+primerclic).hidden=true;
  document.getElementById('img'+segundoclic).hidden=true;
}

const voltearCarta=(pos)=>
{
  ++clic;
  if(clic<=2)
  {  document.getElementById('img'+pos).src=cartas[barpos[pos]];
    
    if (clic==2)
      {
      img2=cartas[barpos[pos]];
      segundoclic=pos;
      ++clic;
      }
      if (clic==1)
      {
      img1=cartas[barpos[pos]];
      primerclic=pos;     
      }
  }
  if (clic>2)
  { 
    if(img1===img2)
      {
        setTimeout("adivinoCartas()",500);
        ++aciertos;
        if(aciertos==10)
        setTimeout("felicidades()",1000);
      }
      else
      {   //El nombre de la funcion debe de ir entre comillas
          setTimeout("detenerTiempo()",500);
      }
      clic=0;
  }
}
//Termian el codigo para el juego del memorama

//Codigo para el juego de numeros 
let posnum=[0,1,2,3,4,5,6,7,8,9];
let poscargadas=[];
let numeros=["/cero.png","/uno.png","/dos.png","/tres.png","/cuatro.png","/cinco.png","/seis.png","/siete.png","/ocho.png","/nueve.png"];
let dioclic=-1, ban=0;

const barajearNum=()=>
{posnum=[0,1,2,3,4,5,6,7,8,9];
i=posnum.length;
  while(--i>0)
    { j=Math.floor(Math.random()* (i+1));
      temp=posnum[j];
      posnum[j]=posnum[i]
      posnum[i]=temp
    }
}
barajearNum();
function ganaste() {
alert(">>>>>> Ganaste eres un G E N I O <<<<<<");
  
}

function tapar()
{
  for (let i=0; i<5; i++)
  {
    document.getElementById("num"+i).src="/pregunta.png";
  }
}
function cargarNum(n)
{dioclic++;
  if (dioclic===0)
  {
    if (poscargadas[dioclic]==posnum[n])
    {
      document.getElementById("num"+n).src=numeros[posnum[n]];
    }
    else
    {
      document.getElementById("num"+n).src="/fallo.png"
      ban=1
    }
  }
  if (dioclic===1)
  {
    if (poscargadas[dioclic]==posnum[n])
    {
      document.getElementById("num"+n).src=numeros[posnum[n]];
    }
    else
    {
      document.getElementById("num"+n).src="/fallo.png"
      ban=1;
    }
  }
  if (dioclic===2)
  {
    if (poscargadas[dioclic]==posnum[n])
    {
      document.getElementById("num"+n).src=numeros[posnum[n]];
    }
    else
    {
      document.getElementById("num"+n).src="/fallo.png"
      ban=1
    }
  }
  if (dioclic===3)
  {
    if (poscargadas[dioclic]==posnum[n])
    {
      document.getElementById("num"+n).src=numeros[posnum[n]];
    }
    else
    {
      document.getElementById("num"+n).src="/fallo.png"
      ban=1;
    }
  }
  if (dioclic===4)
  {
    if (poscargadas[dioclic]==posnum[n])
    {
      document.getElementById("num"+n).src=numeros[posnum[n]];
    }
    else
    {
      document.getElementById("num"+n).src="/fallo.png"
      ban=1;
    }
  }
  if(dioclic==4 && ban==0)
    setTimeout("ganaste()",300);
}
function voltear()
{ barajearNum();
  dioclic=-1;
  ban=0;
  for (let i=0; i<5; i++)
    poscargadas[i]=posnum[i];
  poscargadas=poscargadas.sort((a,b)=>(a-b));

  for (let i=0; i<5; i++)
  {
    document.getElementById("num"+i).src=numeros[posnum[i]];
  }
  console.log(posnum);
  console.log(poscargadas);
  setTimeout("tapar()",1000);
}
// termina codigo de juego de numeros

//>>>>>>>> juego de figuras <<<<<<<<
let figuras=["/rojo.png","/amarillo.png","/blanco.png","/verde.png","/gris.png","/azul.png"];
let numfig=[0,1,2,3,4,5];
let numfigfin=[];
let clicfig=-1;
const barafig=()=>
{
  i=numfig.length;
    while(--i>0)
    { j=Math.floor(Math.random()* (i+1));
      temp=numfig[j];
      numfig[j]=numfig[i]
      numfig[i]=temp
    }
}
barafig();
for(let p=0;p<numfig.length;p++)
  numfigfin[p]=numfig[p];
const barafigfin=()=>
{
  i=numfigfin.length;
    while(--i>0)
    { j=Math.floor(Math.random()* (i+1));
      temp=numfigfin[j];
      numfigfin[j]=numfigfin[i]
      numfigfin[i]=temp
    }
    
}
barafigfin();
let cfi=0
function mostrarFig(posfig)
{ 
  setTimeout(() => {
    console.log(figuras[numfig[posfig]]);
    document.getElementById("fim").src=figuras[numfig[posfig]];
  }, posfig*550);
}
function mosFig()
{ 
  setTimeout(() => {
    for(let p=0;p<6;p++)
      {   console.log(figuras[numfigfin[p]]);
        console.log(numfigfin[p])
        document.getElementById("fig"+p).src=figuras[numfigfin[p]];
      }
    }, cfi*80);
}

function ocultar()
{ let clic=document.getElementById("btnfig");
  if (clic)
  { numfig=[0,1,2,3,4,5];
    cfi=0;
    clicfig=-1;
    barafig();
    for(let p=0;p<numfig.length;p++)
    numfigfin[p]=numfig[p];
    barafigfin();
    let cargarfigpantalla='<div><img id="fig0"src="/pregunta.jpeg" width="150px" height="130px" onclick="{dioclicfig(0)}"/></div><div></div><div><img id="fig1" src="/pregunta.jpeg" width= "150px" height="130px" onclick="{dioclicfig(1)}"/></div><div><img id="fig2" src="/pregunta.jpeg" width= "150px" height="130px" onclick="{dioclicfig(2)}"/> </div><div> <img id="fim" src="/pregunta.jpeg" width= "150px" height="130px"/></div><div><img id="fig3" src="/pregunta.jpeg" width= "150px" height="130px" onclick="{dioclicfig(3)}"/></div><div><img id="fig4" src="/pregunta.jpeg" width= "150px" height="130px" onclick="{dioclicfig(4)}"/></div><div></div><div><img id="fig5" src="/pregunta.jpeg" width= "150px" height="130px" onclick="{dioclicfig(5)}"/></div>';
    document.getElementById("oMostrar").innerHTML=cargarfigpantalla;
    document.getElementById("fim").hidden=false;

  }
  for(cfi=0; cfi<6;cfi++)
    mostrarFig(cfi);
  
    setTimeout(() => {
      //console.log("carga la pregunta")
      document.getElementById("fim").hidden=true;
      //document.getElementById("fig2").src="/pregunta.jpeg";
      mosFig();
    }, cfi*500);
    console.log(numfig);
    console.log(numfigfin);
    
}
function dioclicfig(pfig)
{clicfig++;
  console.log(numfig[clicfig]," ",numfigfin[pfig])
  if(clicfig==0)
  { 
    if (numfigfin[pfig]==numfig[clicfig])
    //{
      //console.log(numfig[clicfig]," ",numfig[0])
      document.getElementById("fig"+pfig).src="/bien.png";
   // }
  else
    document.getElementById("fig"+pfig).src="/fallo.png";
  }
  if(clicfig==1)
  { 
    if (numfigfin[pfig]==numfig[clicfig])
      document.getElementById("fig"+pfig).src="/bien.png";
    else
      document.getElementById("fig"+pfig).src="/fallo.png";
  }
  if(clicfig==2)
  { 
    if (numfigfin[pfig]==numfig[clicfig])
      document.getElementById("fig"+pfig).src="/bien.png";
    else
      document.getElementById("fig"+pfig).src="/fallo.png";
  }
  if(clicfig==3)
  { 
    if (numfigfin[pfig]==numfig[clicfig])
      document.getElementById("fig"+pfig).src="/bien.png";
    else
      document.getElementById("fig"+pfig).src="/fallo.png";
  }
  if(clicfig==4)
  { 
    if (numfigfin[pfig]==numfig[clicfig])
      document.getElementById("fig"+pfig).src="/bien.png";
    else
      document.getElementById("fig"+pfig).src="/fallo.png";
  }
  if(clicfig==5)
  { 
    if (numfigfin[pfig]==numfig[clicfig])
      document.getElementById("fig"+pfig).src="/bien.png";
    else
      document.getElementById("fig"+pfig).src="/fallo.png";
  }
  console.log("dio clic en fig "+pfig);
  console.log(figuras[numfigfin[pfig]]);
}
// termina juego de figuras
//Juego del ahorcado
let pos=0, errores=0;
let tema=["aguascalientes","baja california","baja california sur","campeche","chiapas","chihuahua","coahuila","colima","durango","guanajuato","guerrero","hidalgo","jalisco","mexico","michoacan","morelos","nayarit","nuevo leon","oaxaca","puebla","queretaro","quintana roo","san luis potosi","sinaloa","sonora","tabasco","tamaulipas","tlaxcala","veracruz","yucatan","zacatecas"];
    let  guiones=[], palabraFinal="", padiv="", letrasArray=[];
    for(;;)
    {
        pos= Math.round(Math.random()*31)-1;
        if(pos>=0 && pos<=5)
        break;
    }
    
    
    console.log(pos);
    padiv=tema[pos];
    
    function deshabilitar()
    {
        document.getElementById("btn").disabled=true;
        document.getElementById("txt1").disabled=true;
    }
    
    function cargar()
    { for(let i=0;i<padiv.length;i++)
        {
        guiones[i]="_";
        letrasArray[i]=padiv.charAt(i);
        }
        for(let i in padiv)
        {
            palabraFinal+="_ "
        }
        document.getElementById("adi").innerHTML=palabraFinal;
        let texh4="Tu palabra a adivinar tiene "+ tema[pos].length+ " caracteres"
        document.getElementById("txtadi").innerHTML=texh4;
    }
    cargar();

    const encontrarLetra= ()=>{  
        let letra="";         
        letra=document.getElementById("txt1").value;
        let cc=0, ban=0;
        palabraFinal="";
        while (cc<padiv.length)
        {
            if(letra===padiv.charAt(cc))
            {guiones[cc]=letra;
                ban=1;
            }
            cc++;
        }
        let pf=0;
        while(pf<guiones.length)
        { 
            palabraFinal+=guiones[pf]+" "
            pf++;
        }
        //alert(padiv+"\n letras acertadas "+guiones);
        document.getElementById("adi").innerHTML=palabraFinal;
        document.getElementById("txt1").value="";
        document.getElementById("txt1").focus();
        if (ban==0)
        errores++;
        
        if(errores==1)
            document.getElementById("img0").src="/2.png";
        if(errores==2)
            document.getElementById("img0").src="/3.png";
        if(errores==3)
        {   
            deshabilitar(); 
            document.getElementById("img0").src="/4.png";
            document.getElementById("perdio").innerHTML="P E R D I S T E"; 
            document.getElementById("btn").hidden=true;
            document.getElementById("btnvj").hidden=false;
        }
            
        if(errores<3 && guiones.indexOf("_")<0)
        {
        document.getElementById("img0").src="/genio.png";
        document.getElementById("perdio").innerHTML="G A N A S T E";
        deshabilitar();
        document.getElementById("btn").hidden=true;
        document.getElementById("btnvj").hidden=false;

        }    
    }

const dioclic=document.getElementById("btn");
dioclic.addEventListener("click",encontrarLetra);


//termina juego del ahorcado


//Frase del dia
let frases=['"La culpa debemos quitarla de nuestra mente y nuestro vocabulario, porque no sirve para nada (AA)"','"Tanto si crees que puedes, como si no, tienes razón (Henry Ford)"','"Si no puedes volar, corre; si no puedes correr, camina; si no puedes caminar, gatea, pero sigue avanzando hacia tu meta (Martin Luther King)"','"Cada fracaso enseña al individuo algo que necesitaba aprender (Charles Dickens)"','"La lógica te llevará de la A a la Z. La imaginación te llevará a cualquier lugar (Albert Einstein)"', '"Cambia el pensamiento y cambiará el sentimiento (AA)"', '"Lo que no te mata, te hace más fuerte (Friedrich Nietzsche)"', '"No cuentes los días, haz que los días cuenten  (Muhammad Ali)"', '"La disciplina es el puente entre metas y logros (Jim Rohn)"','"Todo lo que se puede imaginar es real  (Pablo Picasso)"','"Todo parece imposible hasta que se hace (Nelson Mandela)"','"La excelencia no es un acto, es un hábito (Aristóteles)"', '"Sé el cambio que deseas ver en el mundo (Mahatma Gandhi)"','"Vivir es nacer a cada instante (Erich Fromm)"','"El valor de una idea radica en su uso (Thomas Edison)"','"La mejor manera de empezar algo es dejar de hablar de ello y hacerlo (Walt Disney)"','"Las chicas buenas conocen sus límites, sin embargo, las mujeres inteligentes saben que no tienen ninguno (Marilyn Monroe)"','"Por encima de todo, sé la heroína de tu vida, no la víctima (Nora Ephron)"','"Piensa como una reina. Una reina no tiene miedo de fracasar. El fracaso es solo otro paso hacia la grandeza (Oprah Winfrey)"','"La medida del amor es amar sin medida (San Agustín)"','"El éxito es la suma de pequeños esfuerzos repetidos día tras día (Robert Collier)"','"El mejor momento del día es ahora (Pierre Bonnard)"','"La mala noticia es que el tiempo vuela. La buena noticia es que tú eres el piloto (Michael Altshuler)"','"Donde reina el amor, siempre sobran las leyes (Platón)"','"Sonríe cuando te mires al espejo. hazlo todas las mañanas y comenzarás a ver una gran diferencia en tu vida (Yoko Ono)"'];
let lof=frases.length-1;
let psf=Math.floor(Math.random()* (lof+1));
document.getElementById("pfra").innerHTML=frases[psf];



setTimeout(() => {
  let psf=Math.floor(Math.random()* (lof+1));
  document.getElementById("pfra").innerHTML=frases[psf];
  console.log(frases[psf]);
  console.log(psf)
    }, 20000);

</script>
</html>
